* {
    margin: 0;
}


/* prevent scrolling with responsive devices */

html,
body {
    margin: 0;
    height: 100%;
}

body {
    background-color: #e9e9e9;
}

.app {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.app__left {
    flex: 0.9;
}

.app__header .app__dropdown {
    min-width: 90px;
    margin-left: 0.5rem;
}

.app__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.app__stats {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.app__flag {
    height: 25px;
    margin-left: auto;
}

.app__title {
    margin-right: 0.5rem;
}

.app__covid {
    color: #eb5569;
    font-weight: 900;
}

.infobox__wrapper {
    flex-basis: 25%;
    max-width: 230px;
    min-width: 180px;
}


/*MUI built-in classes*/

.MuiCardHeader-content .MuiCardHeader-title {
    font-weight: 600;
    font-size: 1.25rem;
}

.MuiCardContent-root .MuiTypography-root.MuiTypography-body2 {
    font-size: 1rem;
}


/*MUI built-in classes END */

@media screen and (max-width:650px) {
    .infobox__wrapper {
        flex-basis: 50%;
        max-width: 250px;
        min-width: 180px;
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width:540px) {
    .infobox__wrapper {
        flex-basis: 50%;
        max-width: 220px;
        min-width: 180px;
    }
}

@media screen and (max-width:475px) {
    .infobox__wrapper {
        flex-basis: 50%;
        max-width: 200px;
        min-width: 180px;
    }
    .app__title {
        font-size: 1.75rem;
    }
}

@media screen and (max-width:440px) {
    .infobox__wrapper {
        flex-basis: 50%;
        max-width: 180px;
        min-width: 160px;
    }
    .app__title {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:395px) {
    .infobox__wrapper {
        flex-basis: 100%;
        max-width: 390px;
    }
}

@media screen and (max-width:768px) {}

@media screen and (max-width:1024px) {
    .app {
        flex-direction: column;
    }
}